<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <style>
        a {
            color: black;
        }
    </style>
</head>
<body>
    <header>
        <h1>Admin Dashboard</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/admin/teams">Manage Teams</a></li>
            <li><a href="/admin/table">Manage Table</a></li>
            <li><a href="/admin/news">Manage News</a></li>
            <li><a href="/admin/fixtures">Manage Fixtures</a></li>
        </ul>
    </nav>
</body>
</html>
